<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="myTestBean" class="com.kaixin1928.model.MyTestBean" />
	
	<bean id="testA" class="com.kaixin1928.model.TestA">
		<property name="testB" ref="testB"/>
	</bean>
	<bean id="testB" class="com.kaixin1928.model.TestB">
		<property name="testC" ref="testC"/>
	</bean>
	<bean id="testC" class="com.kaixin1928.model.TestC">
		<property name="testA" ref="testA"/>
	</bean>
	
	<!--<bean class="org.springframework.beans.factory.config.MyInstantiationAwareBeanPostProcessor"/>-->
	<bean id="testListener" class="com.kaixin1928.model.TestListener"/>
</beans>