<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	
	<bean id="myTestBean" class="com.kaixin1928.model.MyTestBean" />
	
	<bean id="testA" class="com.kaixin1928.model.TestA" scope="prototype">
		<property name="testB" ref="testB"/>
	</bean>
	<bean id="testB" class="com.kaixin1928.model.TestB" scope="prototype">
		<property name="testC" ref="testC"/>
	</bean>
	<bean id="testC" class="com.kaixin1928.model.TestC" scope="prototype">
		<property name="testA" ref="testA"/>
	</bean>
	
	<aop:aspectj-autoproxy/>
	<bean id="test" class="com.kaixin1928.model.MyTestBean"/>
	<bean class="com.kaixin1928.model.AspectJTest" />
	
</beans>